JFS_KEY_PASSPHRASE=MySecretPassword123
JFS_MOUNT_POINT=/mnt
JFS_NAME=backupvol

S3_USERNAME=admin
S3_PASSPHRASE=ChangeMe123
S3_BUCKET_NAME=megas4
S3_PREFIX=subdir

REDIS_USERNAME=
REDIS_PASSPHRASE=YouCantGuessIt123